<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dahua.searchandwarn">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application android:largeHeap="true">
        <activity android:name=".modules.warning.activity.SW_WarningDetailsActivity" />
        <activity
            android:name=".modules.warning.activity.SW_SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".modules.warning.activity.SW_DisposeDetailsActivity" />
        <activity android:name=".modules.warning.activity.SW_PhotoActivity" />
        <activity android:name=".modules.warning.activity.SW_IgnoreActivity" />
        <activity
            android:name=".modules.warning.activity.SW_WarningAccpetActivity"
            android:launchMode="singleTask" />
        <activity android:name=".modules.warning.activity.SW_HistroyWarnActivity" />
        <activity
            android:name=".modules.facesearching.activity.SW_FaceSearchingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".modules.facesearching.activity.SW_FaceSearchingResultActivity" />
        <activity android:name=".modules.facesearching.activity.SW_StaticDialogActivity" />
        <activity android:name=".modules.facesearching.activity.SW_DynamicDialogActivity" />
        <activity android:name=".modules.warning.activity.SW_TreeActivity"></activity>


    </application>

</manifest>